<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-left" type="button" (click)="showMenu = !showMenu" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo-holder">
    <a class="navbar-brand" routerLink="main">Akwaaba.FM</a>
    <a class="nav-link hidden-lg-up search-bar-activate">S</a>
  </div>
  <div class="link-holder">
    <div [ngClass]="{'collapse-nav': !showMenu, 'nocollapse-nav': showMenu}" class="navbar-collapse collapse" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="top-ten">TOP 10</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="new-songs">NEW SONGS</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="editors-pick">EDITORS PICK</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="artist">ARTIST INDEX</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="music-upload">SUBMIT</a>
        </li>
      </ul>
      <ul class="navbar-nav hidden-md-down additional-navbar">
        <li class="nav-item">
          <a class="nav-link">S</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">M</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">F</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">T</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
